<div class="container">
  <div class="panel panel-default">
    <!-- <div class="panel-heading">Home Page</div> -->
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>What’s Your Carbon Footprint?</h2>
        </div>
        <div class="col-sm-12">
          <p>The Nature Conservancy’s carbon footprint calculator measures your impact on our climate.
            Our carbon footprint calculator estimates how many tons of carbon dioxide and other greenhouse
            gases your choices create each
            year. 
          </p>
          <p>Inevitably, in going about our daily lives — commuting, sheltering our families, eating — each of us contributes to the greenhouse gas emissions that are causing climate change. Yet, there are many things each of us, as individuals, can do to reduce our carbon emissions. The choices we make in our homes, our travel, the food we eat, and what we buy and throw away all influence our carbon footprint and can help ensure a stable climate for future generations.</p>
          <br>
          <div class="text-center"><a class="btn btn-success btn-lg" href="#/questions">Measure Today »</a></div>
        </div>
      </div>
    </div>
  </div>
</div>